<!--top-->
<div class="top_w">
    <div class="top">
        <div class="header">
            <div class="logo"><img src="/Public/Images/Web/logo.gif" height="100" width="760"></div>
            <div class="he_right"><a href="#">设为主页</a> | <a href="#">加入收藏</a> | </div>
        </div>
        <div class="clear"></div>
        <div class="nav font1">
            <ul>
                <li><a href="/">首  页</a></li>
                <li><a href="/chanpinzhongxin.html">产品中心</a></li>
                <li><a href="/xinwenzhongxin.html">新闻中心</a></li>
                <li><a href="/chenggonganli.html">成功案例</a></li>
                <li><a href="/gongsijianjie.html">公司简介</a></li>
                <li><a href="/lianxiwomen.html">联系我们</a></li>
                <li><a href="/xiazaizhongxin.html">下载中心</a></li>
                <li><a href="/rencaizhaopin.html">人才招聘</a></li>
            </ul>
        </div>
    </div>
</div>
<!--top end-->

<div class="main">
    <!--banner-->
    <div class="h_banner">
        <div id="play">
            <div id="play_bg"></div>
            <div id="play_info"></div>
            <div id="play_text" style="margin-top: 238px; margin-left: 612px; width: 76px;">
                <ul>
                    <li style="background: rgb(224, 191, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">1</li>
                    <li style="background: rgb(242, 53, 17) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">2</li>
                    <li style="background: rgb(224, 191, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">3</li>
                </ul>
            </div>
            <div id="play_list" style="margin-top:-1px;">
                <a style="display: none;" href="#">
                    <img src="Public/Images/Web/201210161027078848.jpg" height="296px" width="950px">
                </a>
                <a style="display: block;" href="#">
                    <img src="/Public/Images/Web/201210161026423819.jpg" height="296px" width="950px">
                </a>
                <a style="display: none;" href="#">
                    <img src="/Public/Images/Web/201210161026288736.jpg" height="296px" width="950px">
                </a>
            </div>
        </div>
    </div>