<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>318</title>
    <link rel="stylesheet" src="Public/CSS/Mobile/Common.css">
</head>
<body>
<header class="logo">
    <img src="/Public/Images/Web/logo.jpg" width="96%"/>
</header>

<p>318国道起点为上海，终点为西藏友谊桥，全长5476千米，是中国最长的国道。</p>
<p>318国道几乎就是沿着北纬30度线前行的。那些伟大的景观不是在道路的两旁，就是在道路的南北不出200公里的范围内：长江口、钱塘江、西湖、太湖、黄山、庐山、鄱阳湖、洞庭湖、九华山、天柱山、神农架、三峡、中国后花园——恩施、长阳清江画廊、张家界、武陵源、黄龙洞、峨眉山……这些是我们比较熟悉的景观，再向西，一些不为人们了解、在传统文化中也找不到的风景开始进入我们的视野，尤其过去人们无缘欣赏的雪山冰川开始频频出现：贡嘎山、海螺沟千米大冰瀑、折多山、雅拉雪山、稻城三大雪峰－－仙乃日、央迈勇与夏诺多吉、雀儿山……在这条线上，海拔7000多米的南迦巴瓦、加拉白垒出现了，再向西世界8000米以上的14座山峰中的4座－－马卡鲁峰、卓奥友峰、珠穆朗玛峰、希夏邦马峰出现了，其中珠峰为地球上的最高点。还有无数的无名雪山和冰川在这条大道的两旁，它们无名，不是因为他们的品质不够，而是因为它们过去没有机会出现在主流文化面前，主流文化也不知如何去欣赏他们。</p>
<p>这样一条大道，路虽人为，景乃天造，钟自然之大美，显人文之深奥。完全可以称之为——中国人的景观大道。</p>
</body>
</html>