<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台——管理中心</title>
    <import type="css" file="CSS/admin/index" />
    <import type="js" file="JS/jquery" />
    <import type="js" file="JS/Admin/global" />
    <import type="js" file="JS/Admin/function" />
</head>
<body>
<div id="dcWrap">

    <include file="Public/head" />

    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">DouPHP 管理中心<b>></b><strong>操作记录</strong> </div>   <div id="mainBox">
        <h3>操作记录</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="30" align="center">编号</th>
                <th width="100" align="left">操作日期</th>
                <th width="100" align="center">操作者</th>
                <th align="left">操作记录</th>
                <th width="100" align="center">IP地址</th>
            </tr>
            <tr>
                <td align="center">155</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">120.36.146.33</td>
            </tr>
            <tr>
                <td align="center">154</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">125.68.70.53</td>
            </tr>
            <tr>
                <td align="center">153</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">系统设置: 编辑成功</td>
                <td align="center">14.121.169.23</td>
            </tr>
            <tr>
                <td align="center">152</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">14.121.169.23</td>
            </tr>
            <tr>
                <td align="center">151</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">61.141.159.86</td>
            </tr>
            <tr>
                <td align="center">150</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">系统设置: 编辑成功</td>
                <td align="center">116.231.160.168</td>
            </tr>
            <tr>
                <td align="center">149</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">系统设置: 编辑成功</td>
                <td align="center">116.231.160.168</td>
            </tr>
            <tr>
                <td align="center">148</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">116.231.160.168</td>
            </tr>
            <tr>
                <td align="center">147</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">220.203.32.188</td>
            </tr>
            <tr>
                <td align="center">146</td>
                <td>2015-08-13</td>
                <td align="center">admin</td>
                <td align="left">管理员登录: 登录成功！</td>
                <td align="center">140.255.245.38</td>
            </tr>

        </table>
        <div class="pager">总计 155 个记录，共 11 页，当前第 1 页 | <a href="manager.php?rec=manager_log">第一页</a> 上一页 <a href="manager.php?rec=manager_log&page=2">下一页</a> <a href="manager.php?rec=manager_log&page=11">最末页</a></div>       </div>
    </div>

    <div class="clear"></div>
    <div id="dcFooter">
        <div id="footer">
            <div class="line"></div>
            <ul>
                版权所有 © 2013-2014 漳州豆壳网络科技有限公司，并保留所有权利。
            </ul>
        </div>
    </div>
    <!-- dcFooter 结束 -->
    <div class="clear"></div>
</div>

</body>
</html>